<div id="page-loader">
	<div class="page-loader-inner">
     	<span class="loader-figure"></span>
   		<h6 class="loader-label">yükleniyor</h6>
        <img class="loader-logo" src="../iu_logo-240.png" srcset="../iu_logo-240.png 1x, ../iu_logo-240.png 2x" alt="istanbulultratrail.com">
	</div>
</div>
