<div class="popup-uzunetap">
  <div class="image-area">
    <!-- <a href="javascript:close_popup();"><img src="/popup/iu_popup_erteme_2_tr.jpg" /></a> -->
    <a href="javascript:close_popup();" class="close-popup">x</a>
  </div>
</div>
