<!doctype html>
<html class="no-js" lang="tr-TR">
<head>

    <%-include('./inc/head')%>

</head>

<body>

<!-- PAGELOADER -->
<%-include('./inc/page-loader')%>
<!-- PAGELOADER -->

<!-- PAGE CONTENT -->
<div id="page-content">

	<!-- HEADER -->
	<%-include('./inc/nav')%>

     <!-- HERO  -->
	<section id="hero" class="hero-full parallax-section text-light" data-parallax-image="https://uzunetap.com/files/uploads/hakkimizda.jpg">

        <div id="page-title" class="wrapper align-center">
            <img src="../iu_logo-240.png" style="width:300px;" />
        </div> <!-- END #page-title -->
        <a href="#" id="scroll-down"></a>

    </section>
    <!-- HERO -->


	<!-- PAGEBODY -->
	<section id="page-body" class="notoppadding">

        <div class="column-section boxed-sticky adapt-height clearfix">
        	<div class="column one-half bigpadding has-animation" style="background:#ffffff;">
            <h2>İstanbul Ultra Trail</h2>
                <p style="font-size:24px;line-height:32px;">İstanbul'un yemyeşil kuzey ormanlarından Karadeniz'in masmavi sularına uzanan muhteşem bir ultra maceraya hazır mısınız?</p>
                <p>
                <strong> 100K, 60K, 30K</strong> ve <strong>15K</strong> kategorilerinin bulunduğu İstanbul Ultra Trail, herkes için yepyeni ve unutulmaz bir deneyim sunuyor!

              </p>
				<br />
				<a href="https://uzunetap.com" target="_blank" class="sr-button button-1 button-tiny rounded">uzunetap.com</a><br /><br />
                <hr />
                <p>Uzunetap <a href="http://www.i-tra.org/" target="_blank">International Trail-Running Association</a> üyesidir.</p>
<a href="http://www.i-tra.org/" target="_blank"><img src="../files/uploads/sponsor_2.jpg" style="float:left;margin:0 15px 0 0;width:150px;" /></a>
            </div>
            <div class="column one-half last-col has-animation" data-delay="200" style="background:url(../files/uploads/hakkimizd_page_1.jpg) center center;background-size:cover;"></div>
        </div> <!-- END .column-section -->

 	</section>
	<!-- PAGEBODY -->


    <!-- FOOTER -->
    <%-include('./inc/footer')%>
    <!-- FOOTER -->

</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->

<!-- SCRIPTS -->
<script src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/jquery.visible.min.js"></script>
<script type="text/javascript" src="js/tweenMax.js"></script>
<script type="text/javascript" src="js/jquery.backgroundparallax.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>



</body>
</html>
