<!doctype html>
<html class="no-js" lang="en-US">
<head>

    <%-include('./inc/head')%>

</head>

<body>

<!-- PAGELOADER -->
<%-include('./inc/page-loader')%>
<!-- PAGELOADER -->

<!-- PAGE CONTENT -->
<div id="page-content">

	<!-- HEADER -->
	<%-include('./inc/nav')%>


     <!-- HERO  -->
	<section id="hero" class="hero-auto text-light parallax-section" data-parallax-image="../iu-detay-header.jpg">

        <div id="page-title" class="wrapper align-center">
            <h1><strong><%=title%></strong></h1>
        </div> <!-- END #page-title -->

    </section>
    <!-- HERO -->

	<!-- PAGEBODY -->
	<section id="page-body">

    	<div class="wrapper">

            <div class="column-section clearfix">

            	<div class="column one-third">
                    <h6 class="uppercase">İLETİŞİM</h6>
                    <p><strong>Adres: </strong>Zorlu Center Levazım Mh.<br />
                    	Koru Sk.No:2 Teras Evler<br />
                        Daire: 30 / 31 34340<br />
                        Beşiktaş/İSTANBUL </p>
                	<p>
                    <strong>Tel:</strong> +90 212 229 1040<br />
                    <strong>Fax:</strong> +90 212 323 3955
                    </p>
                    <p>
                    <strong>E-posta:</strong> <a href="info@uzunetap.com" target="_blank">info@uzunetap.com</a>
                    </p>
                    <h6 class="uppercase">Sosyal Medya</h6>
                    <ul class="socialmedia-widget size-small hover-fade-1">
                        <li class="facebook"><a href="https://www.facebook.com/uzunetap/" target="_blank"></a></li>
                        <li class="instagram"><a href="https://instagram.com/uzunetap/" target="_blank"></a></li>
                    </ul>
                </div>

                <div class="column two-third last-col">
                	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.12018507887!2d29.01517641541586!3d41.06636547929492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab64cddb57281%3A0x500f653c23c73bd3!2sZorlu+Center!5e0!3m2!1str!2str!4v1483914824650" width="100%" height="340" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

            </div> <!-- END .column-section -->

        </div> <!-- END .wrapper-small -->

        <div class="spacer-big"></div>

 	</section>
	<!-- PAGEBODY -->


    <!-- FOOTER -->
    <?php require_once __DIR__.'/static-includes/footer.php'; ?>
    <!-- FOOTER -->

</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->

<!-- SCRIPTS -->
<script src="../js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../js/jquery.visible.min.js"></script>
<script type="text/javascript" src="../js/tweenMax.js"></script>
<script type="text/javascript" src="../js/jquery.backgroundparallax.min.js"></script>
<script type="text/javascript" src="../js/script.js"></script>

</body>
</html>
