<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=title%> - İstanbul Ultra Trail</title>
  </head>
  <body><div style="width:100%;padding:20px;text-align:center;font-size:14px;">
      <h1><%=pages.title%></h1>

      <strong>url:</strong> <%=pages.url%> <br />
      <strong>ejsFile:</strong> <%=pages.ejsFile%> <br />
    </div>
  </body>
</html>
