<nav class="pcoded-navbar">
  <div class="nav-list">
    <div class="pcoded-inner-navbar main-menu">
      <div class="pcoded-navigation-label">istanbulultratrail.com - faCMS</div>
      <ul class="pcoded-item pcoded-left-item">
        <li>
          <a href="../admin" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
            <span class="pcoded-mtext">CMS Ana Sayfa</span>
          </a>
        </li>
        <li class="pcoded-hasmenu">
          <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="feather icon-user"></i></span>
            <span class="pcoded-mtext">CMS Kullanıcıları</span>
          </a>
          <ul class="pcoded-submenu">
            <li>
              <a href="../admin/all-cms-users" class="waves-effect waves-dark">
                <span class="pcoded-mtext">Tüm Yöneticiler</span>
              </a>
            </li>
            <li>
              <a href="../admin/add-new-cms-user" class="waves-effect waves-dark">
                <span class="pcoded-mtext">Yeni yönetici ekle</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="pcoded-hasmenu">
          <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="feather icon-book"></i></span>
            <span class="pcoded-mtext">Web App Sayfalar</span>
          </a>
          <ul class="pcoded-submenu">
            <li>
              <a href="../admin/all-cms-users" class="waves-effect waves-dark">
                <span class="pcoded-mtext">Tüm Sayfalar</span>
              </a>
            </li>
            <li>
              <a href="../admin/add-new-pages" class="waves-effect waves-dark">
                <span class="pcoded-mtext">Yeni sayfa ekle</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
